In [1]:
#import libraries 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sb 
sb.set_style("darkgrid") 

%matplotlib inline

In [2]:
#load dataset 
samp_superstore = pd.read_csv("sample_superstore.csv")

## Data Wrangling

### Assessment

In [3]:
#view random samples of the dataset 
samp_superstore.sample(10)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
8983,Standard Class,Consumer,United States,Chicago,Illinois,60623,Central,Furniture,Furnishings,159.04,5,0.6,-194.8240
4347,Standard Class,Consumer,United States,New Rochelle,New York,10801,East,Furniture,Furnishings,60.72,3,0.0,26.1096
5339,Second Class,Consumer,United States,Oceanside,New York,11572,East,Office Supplies,Envelopes,12.24,6,0.0,5.7528
8266,Standard Class,Consumer,United States,Dover,Delaware,19901,East,Technology,Phones,19.98,2,0.0,5.1948
5000,Standard Class,Home Office,United States,Los Angeles,California,90004,West,Technology,Accessories,79.99,1,0.0,28.7964
4362,Second Class,Consumer,United States,Fargo,North Dakota,58103,Central,Office Supplies,Art,131.94,3,0.0,35.6238
1440,Second Class,Consumer,United States,Providence,Rhode Island,2908,East,Office Supplies,Paper,39.96,4,0.0,17.9820
8082,Standard Class,Corporate,United States,Springfield,Oregon,97477,West,Office Supplies,Appliances,203.88,5,0.2,20.3880
971,Second Class,Consumer,United States,Philadelphia,Pennsylvania,19134,East,Technology,Phones,124.20,3,0.4,-31.0500
4149,Standard Class,Consumer,United States,Austin,Texas,78745,Central,Technology,Accessories,55.20,1,0.2,-2.0700

In [4]:
#obtain descriptive summary of the dataset 
samp_superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [5]:
#check for number of duplicate rows 
samp_superstore.duplicated().sum()

17

In [6]:
#obtain unique values of ship mode 
samp_superstore["Ship Mode"].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [7]:
#obtain unique Segment values 
samp_superstore["Segment"].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [8]:
#obtain the unique values in Country
samp_superstore.Country.unique()

array(['United States'], dtype=object)

In [9]:
# obtain the unique Regions
samp_superstore.Region.unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [10]:
#obtain the number of unique values in Category
samp_superstore.Category.value_counts()

Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64

In [11]:
#obtain the number of unique values in  Sub-Category column 
samp_superstore["Sub-Category"].nunique()

17

In [12]:
#obtain the count of the unique values in Sub-Category
samp_superstore["Sub-Category"].value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: Sub-Category, dtype: int64

In [13]:
#check for number of unique States 
samp_superstore.State.nunique()

49

In [14]:
#check number of Cities 
samp_superstore.City.nunique()

531

### Issues 

- Put underscore in place of spaces in column names 
- All country column values are "United States"
- Dtype of Postal Code as int
- Zip codes with less than 5 numeric digits 
- "-" in column name (eg Sub-Category)

### Cleaning