In [1]:
#import libraries 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sb 
sb.set_style("darkgrid") 

%matplotlib inline

In [2]:
#load dataset 
samp_superstore = pd.read_csv("sample_superstore.csv")

## Data Wrangling

### Assessment

In [3]:
#view random samples of the dataset 
samp_superstore.sample(10)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
1366,First Class,Corporate,United States,Tucson,Arizona,85705,West,Technology,Phones,201.584,2,0.2,15.1188
7277,First Class,Home Office,United States,San Francisco,California,94110,West,Technology,Phones,35.984,2,0.2,4.4980
5111,Standard Class,Corporate,United States,Philadelphia,Pennsylvania,19134,East,Office Supplies,Paper,10.048,4,0.2,3.1400
8196,Standard Class,Consumer,United States,Knoxville,Tennessee,37918,South,Technology,Accessories,89.568,4,0.2,-1.1196
2335,Same Day,Consumer,United States,Fairfield,Connecticut,6824,East,Office Supplies,Envelopes,10.860,3,0.0,5.1042
2438,Second Class,Consumer,United States,Louisville,Colorado,80027,West,Office Supplies,Paper,35.808,4,0.2,12.5328
9685,Second Class,Corporate,United States,Los Angeles,California,90032,West,Technology,Accessories,16.590,1,0.0,5.8065
7502,Same Day,Consumer,United States,Los Angeles,California,90036,West,Office Supplies,Art,6.080,2,0.0,2.0672
1617,Standard Class,Home Office,United States,Eagan,Minnesota,55122,Central,Office Supplies,Art,29.790,3,0.0,12.5118
5036,Standard Class,Corporate,United States,Seattle,Washington,98115,West,Technology,Accessories,33.900,2,0.0,2.0340

In [4]:
#obtain descriptive summary of the dataset 
samp_superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [5]:
#check for number of duplicate rows 
samp_superstore.duplicated().sum()

17

In [6]:
#obtain unique values of ship mode 
samp_superstore["Ship Mode"].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [7]:
#obtain unique Segment values 
samp_superstore["Segment"].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [8]:
#obtain the unique values in Country
samp_superstore.Country.unique()

array(['United States'], dtype=object)

In [9]:
# obtain the unique Regions
samp_superstore.Region.unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [10]:
#obtain the number of unique values in Category
samp_superstore.Category.value_counts()

Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64

In [11]:
#obtain the number of unique values in  Sub-Category column 
samp_superstore["Sub-Category"].nunique()

17

In [12]:
#obtain the count of the unique values in Sub-Category
samp_superstore["Sub-Category"].value_counts()

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: Sub-Category, dtype: int64

In [13]:
#check for number of unique States 
samp_superstore.State.nunique()

49

In [14]:
#check number of Cities 
samp_superstore.City.nunique()

531

### Issues 

- Put underscore in place of spaces in column names 
- All country column values are "United States"
- Dtype of Postal Code as int
- Zip codes with less than 5 numeric digits 
- "-" in column name (eg Sub-Category)

### Cleaning

One of the issues noted in the assessment phase is the presence of a space between the words of some column names.

Below, the space in those column names will be replaced with an underscore ("\_") as this allows more flexibility in the use of the column names.

In [15]:
#create a list containing column names 
col_names = list(samp_superstore.columns)

In [16]:
def replace_space(df, list_col_names): 
    """
    This function replaces the space in the column names 
    with spaces between their words with '_'
    """
    for col_name in list_col_names: 
        if " " in col_name: 
            new_name = col_name.replace(" ", "_") 
            df.rename(columns = {col_name : new_name}, 
                      inplace = True) 
    return df

In [17]:
#apply the function 
samp_superstore = replace_space(samp_superstore, col_names) 

#confirm change 
samp_superstore.head(1)

,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.0,41.9136

Since all the transactions made were to customers living in the United States, the `Country` column will be dropped as it is unnecessary, and only contains repetitive values.

In [18]:
#drop Country column 
samp_superstore.drop("Country", axis = 1, inplace = True) 

#confirm 
samp_superstore.columns

Index(['Ship_Mode', 'Segment', 'City', 'State', 'Postal_Code', 'Region',
       'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

The postal code for customers in the dataset has datatype as integer. This will be converted to string datatype as calculations will not be performed on the postal codes.

In [19]:
#change datatype of Postal_Code from int to string 
samp_superstore.Postal_Code = samp_superstore.Postal_Code.astype(str)

#confirm 
samp_superstore.dtypes

Ship_Mode        object
Segment          object
City             object
State            object
Postal_Code      object
Region           object
Category         object
Sub-Category     object
Sales           float64
Quantity          int64
Discount        float64
Profit          float64
dtype: object